@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* 让 body 自动适应白天和黑夜的底色 */
  @apply bg-gray-100 dark:bg-[#121212] text-gray-900 dark:text-white min-h-screen transition-colors duration-300;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; margin: 0; 
}
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { @apply bg-gray-300 dark:bg-[#444] rounded; }
